/Week 39/Onsdag/code_jsonserver_with_errors/nbproject/private/
/Week 39/Onsdag/Create a Single Page Application that uses our cool API/nbproject/private/
/Week 39/Onsdag/CreateSinglePageApplicationAPI/nbproject/private/
/Week 39/Torsdag/CORS-and-Hosting/target/
/Week 39/Torsdag/CORSSPA/nbproject/private/